.login-page{
    text-align: center;
    width: 30%;
    background-color: rgb(158, 113, 92);
    margin-left: 35%;
    margin-top: 4%;
    border-radius: 4%;
    
    
    }
    .form-style{
    background-color: rgb(133, 196, 183);
    border-radius: 2%;
    margin-bottom: 4%;
    
    }